<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenerateCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ScanCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9776F8D41F07306700AE104F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97A6DACE1F07454F00688648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8328CDD1BE757BA00454877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8328CF61BE757BA00454877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8328D011BE757BA00454877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
